<a href="https://colab.research.google.com/github/fantaxiah/MachineLearningFall23/blob/main/MATH8334HW2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

### **Question 2**

In [ ]:
data = np.array([[1, 3],
                [-1, -2],
                [2, 4]])

print(data)

[[ 1  3]
 [-1 -2]
 [ 2  4]]

In [ ]:
rownames = ["1", "2", "3"]
colnames = ["x^i", "t^i"]

Data1 = pd.DataFrame(data, index=rownames, columns=colnames)

print(Data1)

   x^i  t^i
1    1    3
2   -1   -2
3    2    4

In [ ]:
X = Data1['x^i']
y = Data1['t^i']
model = sm.OLS(y, X).fit()

print(model.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                    t^i   R-squared (uncentered):                   0.971
Model:                            OLS   Adj. R-squared (uncentered):              0.957
Method:                 Least Squares   F-statistic:                              67.60
Date:                Wed, 04 Oct 2023   Prob (F-statistic):                      0.0145
Time:                        20:02:11   Log-Likelihood:                         -2.3354
No. Observations:                   3   AIC:                                      6.671
Df Residuals:                       2   BIC:                                      5.769
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x^i            2.1667      0.264      8.222      0.014       1.033       3.301
==============================================================================
Omnibus:                          nan   Durbin-Watson:                   0.833
Prob(Omnibus):                    nan   Jarque-Bera (JB):                0.296
Skew:                           0.173   Prob(JB):                        0.862
Kurtosis:                       1.500   Cond. No.                         1.00
==============================================================================

Notes:
[1] RÂ² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/usr/local/lib/python3.10/dist-packages/statsmodels/stats/stattools.py:74: ValueWarning: omni_normtest is not valid with less than 8 observations; 3 samples were given.
  warn("omni_normtest is not valid with less than 8 observations; %i "

In [ ]:
13/6 #This was the best value we found for beta_1, and should be the same as the coef of x^1

2.1666666666666665

### **Question 3**

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [ ]:
np.random.seed(999) #Generates the same every time

#1000 datapoints with normal distribution, mean 0 and variance 25
N = np.random.normal(0, 25, 1000)

#1000 datapoints from an uniform distribution [0,1]
X1 = np.random.uniform(0, 1, 1000)
X2 = np.random.uniform(0, 1, 1000)
X3 = np.random.uniform(0, 1, 1000)
X4 = np.random.uniform(0, 1, 1000)
X5 = np.random.uniform(0, 1, 1000)

In [ ]:
data1 = pd.DataFrame({'X1': X1, 'X2': X2, 'X3': X3, 'X4': X4, 'X5': X5})

#Non-linear model
y = 10 * np.sin(np.pi * X1 * X2) + 20 * (X3 - 0.5) ** 2 + 10 * X4 + 5 * X5 + N

data1['y'] = y

print(data1.describe())
print(data1.info())

                X1           X2           X3           X4           X5  \
count  1000.000000  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.488290     0.502646     0.503671     0.488036     0.481814
std       0.287485     0.288030     0.292912     0.293853     0.283995
min       0.000215     0.000253     0.000175     0.000992     0.000088
25%       0.248892     0.258307     0.248352     0.230644     0.237692
50%       0.483330     0.502784     0.513685     0.480497     0.483653
75%       0.732597     0.756380     0.761804     0.734225     0.715128
max       0.999580     0.996183     0.998208     0.999012     0.999875

                 y
count  1000.000000
mean     13.788613
std      26.272258
min     -72.227812
25%      -3.119374
50%      14.235474
75%      30.996596
max      91.753076
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X1      1000 non-null   float64
 1   X2      1000 non-null   float64
 2   X3      1000 non-null   float64
 3   X4      1000 non-null   float64
 4   X5      1000 non-null   float64
 5   y       1000 non-null   float64
dtypes: float64(6)
memory usage: 47.0 KB
None

In [ ]:
X = data1.iloc[:, :-1]  #Features (X1 to X5)
y = data1.iloc[:, -1]   #Target variable (y)

i. Partition the simulated data set into two parts. Use 80% of the data for training and
allocate the rest for testing.

In [ ]:
#Split the data into training and testing sets (80% training, 20% testing)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=999)

data = {
    'Train Features': [X_train.shape[0]],
    'Test Features': [X_test.shape[0]],
    'Train Labels': [y_train.shape[0]],
    'Test Labels': [y_test.shape[0]]
}

df = pd.DataFrame(data)
print("Dataset Split:")
print(df)

Dataset Split:
   Train Features  Test Features  Train Labels  Test Labels
0             800            200           800          200

In [ ]:
scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)

X_test_scaled = scaler.transform(X_test)

In [ ]:
#KNN
k_values = [5, 7, 9, 11, 13, 15, 17, 19, 21]
trained_kNN_models = []
rmse_scores = []
mae_scores = []

In [ ]:
for k in k_values:
    knn_model = KNeighborsRegressor(n_neighbors=k)
    knn_model.fit(X_train_scaled, y_train)
    trained_kNN_models.append(knn_model)

    # Make predictions on the testing data
    y_pred = knn_model.predict(X_test_scaled)

    #Calculate RMSE and MAE
    rmse = np.sqrt(mean_squared_error(y_test, y_pred))
    mae = mean_absolute_error(y_test, y_pred)

    rmse_scores.append(rmse)
    mae_scores.append(mae)

    print(f"For k = {k}:")
    print("RMSE:", rmse)
    print("MAE:", mae)
    print("\n")

# for k values 55, 7, 9, 11, 13, 15, 17, 19, 21

For k = 5:
RMSE: 27.552204756143837
MAE: 21.16153605443154


For k = 7:
RMSE: 27.31553436715009
MAE: 20.878072807767424


For k = 9:
RMSE: 26.544261018519485
MAE: 20.33867683952654


For k = 11:
RMSE: 26.614671887186258
MAE: 20.461105367953984


For k = 13:
RMSE: 26.098714212434075
MAE: 20.038312552437425


For k = 15:
RMSE: 26.09635934103885
MAE: 20.1045521805503


For k = 17:
RMSE: 26.134187674669402
MAE: 20.191786116448284


For k = 19:
RMSE: 25.90664009016981
MAE: 19.972135555064266


For k = 21:
RMSE: 26.027779728216462
MAE: 19.98324047507546

In [ ]:
results_data = {
    'k_values': k_values,
    'RMSE': rmse_scores,
    'MAE': mae_scores
}

results_df = pd.DataFrame(results_data)

# Print the table
print("Results:")
print(results_df)

Results:
   k_values       RMSE        MAE
0         5  27.552205  21.161536
1         7  27.315534  20.878073
2         9  26.544261  20.338677
3        11  26.614672  20.461105
4        13  26.098714  20.038313
5        15  26.096359  20.104552
6        17  26.134188  20.191786
7        19  25.906640  19.972136
8        21  26.027780  19.983240

In [ ]:
#Finding the optimal k:
optimal_k_rmse = k_values[np.argmin(rmse_scores)]
optimal_k_mae = k_values[np.argmin(mae_scores)]

print(f"Optimal k based on RMSE: {optimal_k_rmse}")
print(f"Optimal k based on MAE: {optimal_k_mae}")

Optimal k based on RMSE: 19
Optimal k based on MAE: 19